@import (less) '../../less/variable.less';
@import (less) '../../fonts/font-awesome/css/font-awesome.min.css';

html, body {
    height: 100%;
}
body {
    background-color: white;
    font-family: 'Ubuntu R';
    font-size: 16px;
    color: @bck-color;
    min-width: 320px;
}

a {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    color: @link;
    &:hover {
        color: @link;
    }
}
img {
    max-width: 100%;
    height: auto;
}
section {
    position: relative;
}
h2 {
    font-family: 'Montserrat Regular';
    font-size: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

//-------------------- header -----------------------//

#header {
    background: url("../../images/2.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 500px;
    h1 {
        font-family: 'Montserrat Bold';
        font-size: 31px;
        color: white;
        text-transform: uppercase;
    }
    p {
        color: white;
        font-size: 20px;
    }
}
.section-btn {
    .btn {
        font-family: 'Montserrat Regular';
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        padding: 10px 20px;
        margin: 0 10px;
        border: none;
        color: white;
        transition: background-color 0.5s;
    }
    .btn-primary   {
        background-color: @btn-primary-color;
        &:hover {
            background-color: @btn-primary-color-hover;
        }
    }
    .btn-default {
        background-color: @btn-default-color;
        &:hover {
            background-color: @btn-default-color-hover;
        }
    }
}
.section-table {
    display: table;
    height: 100%;
    width: 100%;
}
.section-row {
    display: table-row;
}
.section-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.section-center {
    max-width: 550px;
    display: inline-block;
}

//-------------------- speakers -----------------------//
#speakers {
    padding: 90px 0;
    border-bottom: 2px solid #f0f0f1;
    h2 {
        color: #828689;
    } 
    p, .tab-content ul li {
        color: #828282;
        font-family: 'Ubuntu R';
        font-size: 16px;
    }
}
.large {
    color: #828689; 
    font-size: 22px;
    margin-bottom: 20px;
}

.section-tabs {
    border: 3px solid #ececec;
    border-radius: 2px;
    .nav-tabs li:not(.active) {
        background-color: #ececec;
    }
    .tab-content {
        padding: 25px 20px;
        ul {
            padding-left: 10px;
            li {
                line-height: 30px;
                i {
                    font-size: 15px;
                    color: #2cc7c1;
                    margin-right: 10px;
                }
            }
        }
    }
}

.section-tabs .nav-tabs.nav-justified li a,
.section-tabs .nav-tabs.nav-justified li.active a,
.section-tabs .nav-tabs.nav-justified li.active a:focus,
.section-tabs .nav-tabs.nav-justified li.active a:hover{
	border-radius: 0;
	border: none;
	font-family: "Ubuntu B";
	font-size: 18px;
	outline: 0;
}
.section-tabs .nav-tabs li.active a{
	color: #9097a1;
}
.nav-tabs li a{
	color: #abb1ba;
}

.speakers-head{
	margin-top: 100px;
    margin-bottom: 60px;
    h2 {
        color: #6a7079;  
    }
    h3 {
        color: #777a7d;
        font-size: 20px;
        text-transform: uppercase;
    }
}
.item > div{
	position: relative;
}
.front{
	position: absolute;
	width: 140px;
	height: 140px;
	cursor: pointer;
	/*for IE*/
	left: 50%;
    margin-left: -70px;
}
.back{
	width: 140px;
	height: 140px;
	background: #6bd8d3;
	display: inline-block;
	border-radius: 50%;
    opacity: 0;
    i {
        line-height: 140px;
        font-size: 30px;
        color: #fff;
    }
}
.item > div:hover .front{
	opacity: .2;
}
.item > div:hover .back{
	opacity: 1;
}
.item > div:hover h3{
	color: #6bd8d3;
}
.item > div h3{
	color: #828282;
}
.speakers-footer{
	margin-top: 70px;
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#speakers{
		padding: 20px 0;
	}
	.speakers-head,
	.speakers-footer{
		margin: 20px 0;
	}
	.row-item-col{
		margin: 20px 0;
	}
}

@media only screen and (max-width: 600px) {
    #header{
        min-height: 300px;
        h1 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
	}
	.section-center{
		max-width: 320px;
	}
	.section-btn{
		font-size: 15px;
	}
}