extends ../base
block title
    | Eventide
block main
    section#header
        .section-table
            .section-row
                .section-cell
                    p.logo
                        img(src="../../images/logo.png" alt="logo")
                    h1=""