extends ../base
block title
    | Eventide
block main
    section#header
        .section-table
            .section-row
                .section-cell
                    .section-center
                        p.logo
                            img(src= require("../../images/logo.png") alt="logo")
                        h1="november 08-10 | sydney"
                        p="Lorem ipsum dolor sit amet, consectetur adipisicing elit Cumque quos ratione optio  blanditis deserunt saepe iure unt odit atque eius voluptatum labore ex"
                        .section-btn
                            a.btn.btn-primary="registr"
                                <i class="fa fa-chevron-circle-right"></i>
                            a.btn.btn-default="discover"